.myButton {
  background-color: #4caf50; /* Green */
  border: none;
  color: #ffffff;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 5px;
  border-radius: 4px;
  transition-duration: 0.4s;
  margin-left: 5px;
}
.myButton:hover {
  background-color: #ffffff;
  color: #4caf50;
}
.formBackground {
  padding: 1em;
  min-height: 100%;
}

.formContainer {
  background-color: #a8b3a4;
  padding-bottom: 1em;
  border-radius: 5px;
}

.formHeader {
  line-height: 2.5em;
}

.formLabel {
  font-weight: bold;
  line-height: 2em;
}
.bottomFormRow {
  padding-top: 10px;
}

.errorSpan {
  color: rgb(87, 16, 16);
}

.myModal {
  background-color: #a8b3a4;
  color: red;
}

.loaderBg {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(48, 63, 49);
  align-items: center;
  justify-content: center;
}

.topMargin1em {
  margin-top: 1em;
}

.errorText {
  color: rgb(104, 0, 0);
}

.centerConternt {
  align-items: center;
  justify-content: center;
}
